:root{

 --primary-color: #F5CF06;
 --secudary-color: #8E4106;

}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: Righteous, sans-serif;
    padding: 70px;
}

header{
    align-items: center;
    display: flex;
    gap: 16px;
    
}
header span{

    font-size: 32px;
    color: var(--secudary-color);
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sombra{
    position: absolute;
    font-size: 28vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 22vw;
    color: white;
    
}

.container{

    display: flex;
    height: 154px;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 64px;
}

.descricao{
    z-index: 1;
}

.descricao h2{

    font-size: 64px;
    color: var(--secudary-color);

}

.descricao p{

    font-size: 20px;
    color: var(--secudary-color);
    width: 500px;
}

.container a {
    
    width: 411px;
    height: 100px;
    background-color: var(--secudary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}

.pikachu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

footer{

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secudary-color);
}

/* TABLET */
@media (max-width: 1024px) {
    footer{
        display: none;
    }
    body{
        padding: 30px;
    }
    h1{
        transform: translate(0, -30%);
    }
    .sombra{
        transform: translate(-50%, -180%);
    }
    .container{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0;
        gap: 8px;
    }
    .descricao{
        text-align: center;
    }
    .pikachu{
        transform: translate(-45%, -50%);
    }
}

/* MOBILE */
@media (max-width: 480px) {
    .descricao p {
        display: none;
    }
    .container{
        z-index: 1000;
    }
    .descricao h2{
        font-size: 38px;
    }
    .container a{
        width: 100%;
    }
    .pikachu{
        height: 50vh;
    }
    .sombra{
        transform: translate(-50%, -220%);
    }
    h1{
        transform: translate(0, -22%);
    }

}
