:root{

 --primary-color: #F5CF06;
 --secudary-color: #8E4106;

}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: Righteous, sans-serif;
    padding: 70px;
}

header{
    align-items: center;
    display: flex;
    gap: 16px;
    
}
header span{

    font-size: 32px;
    color: var(--secudary-color);
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sombra{
    position: absolute;
    font-size: 500px;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 300px;
    color: white;
}

.container{
    height: 154px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 64px;
}